# Obtenção dos Dados

Os dados obtidos foram extraídos de 10 temporadas (2021 -2012) de 6 principais ligas de futebol, sendo elas: Budesliga, La Liga, Le Championnat, Premier League e Serie A. 

> Extraídos a partir da fonte: https://www.football-data.co.uk/data.php

# Análise dos Dados

## Imports

In [28]:
import pandas as pd
import seaborn as sns
import os
import functools

## Leitura dos Dados

In [52]:
path_data ='./data'

In [53]:
path_leagues = os.listdir(path_data)

Lendo os arquivos

In [54]:
dfs = []
for league in path_leagues:    
    dfs = dfs + [pd.read_csv(f'./data/{league}/' + name) for name in os.listdir(f'./data/{league}')]
df = pd.concat(dfs).reset_index(drop=True)

In [55]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BSA,League,Season,PH,PD,PA,Referee,SBH,SBD,SBA
0,SP1,16/08/2019,20:00,Ath Bilbao,Barcelona,1.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,17/08/2019,16:00,Celta,Real Madrid,1.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,17/08/2019,18:00,Valencia,Sociedad,1.0,1.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,17/08/2019,19:00,Mallorca,Eibar,2.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,17/08/2019,20:00,Leganes,Osasuna,0.0,1.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22151,F1,20/05/17,NaN,Marseille,Bastia,1.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22152,F1,20/05/17,NaN,Nancy,St Etienne,3.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22153,F1,20/05/17,NaN,Paris SG,Caen,1.0,1.0,D,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22154,F1,20/05/17,NaN,Rennes,Monaco,2.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22155,F1,20/05/17,NaN,Toulouse,Dijon,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN